{% extends 'base.html' %}
{% block body%}
        {% if is_auth %}
            <nav>
                <a href="{{ url_for('create_note') }}">создать заметку</a>
                <a href="{{ url_for('logout') }}">logout</a>
            </nav>
            {% if notes|length > 0 %}
                <div id="notes">
                    {% for note in notes %}
                        <div id="{{ note.id }}" class="note">
                            <a class="title" href="/{{ note.id }}">{{ note.title }}</a>
                            <span class="date">{{ note.date.date() }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <div>
                <a href="{{ url_for('registration') }}">register</a>
                <a href="{{ url_for('login') }}">login</a>
            </div>
        {% endif %}
{% endblock %}